# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terraform AVM
avmmakefile
avm.tflint.hcl
avm.tflint_example.hcl
avm.tflint_module.hcl
avm.tflint.merged.hcl
avm.tflint_example.merged.hcl
avm.tflint_module.merged.hcl
README-generated.md

# Crash logs
crash.log
crash.*.log

# Temporary files
*.md.tmp
*.bak
*.swp
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.code-workspace
!docs/